@font-face {
    font-family: 'frizquadratac';
    src: url('frizquadratac-webfont.woff2') format('woff2'),
         url('frizquadratac-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'albertus_medium';
    src: url('ofont.ru_albertus_medium-webfont.woff2') format('woff2'),
         url('ofont.ru_albertus_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}